<%- include('./partials/header') %>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto my-auto flex-column" height="100%">

<main class="px-3">
    <h1>Concodia Secondary School</h1>
    <p class="lead">Welcome to Concodia Grading System.</p>
    <p class="lead">Coming soon</p>
    <p class="lead">
      <a href="/students" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Students</a>
    </p>
  </main>

  </div>

  <%- include('./partials/footer') %>

